.win {
    position: absolute;
    border: 1px solid #aaa;
    border-radius: 3px;
    min-width: 200px;
}

.winHeader {
    background-color: #aaa;
    height: 20px;
    width: 100%;
}

.winBody {
    padding: 10px;
}
