.box {
    overflow: hidden;
    height: 100%;
    width: 100%;
    transform: rotate(0);
    background-image: linear-gradient(315deg,#17ead9,#6078ea);
    background-size: cover;
}

.box__top-tool {
    padding: 3px;
    background: #eee;
    margin-bottom: 3px;
    position: absolute;
}

.free-layout__outer {
    // transform: translate(0, 0);
    height: 100%;
    width: 100%;
    position: relative;
}
