.win {
  position: absolute;
  border-radius: 8px;
  min-width: 160px;
  min-height: 70px;
  resize: both;
  overflow: auto;
  border: 1px solid var(--default-color);
  background-color: #fff;
  box-shadow: 0 0 10px #9aa7b1;
}

.winHeader {
  background-color: var(--default-color);
  width: 100%;
  box-sizing: border-box;
  padding: 8px;
  padding-right: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;

  .winIconGroup {
    display: flex;
    align-items: center;
    margin-right: 5px;

    .winIconGroupItem {
      $size: 16px;
      margin: 3px;
      color: #fff;
      display: inline-flex;
      cursor: pointer;
      width: $size;
      height: $size;
      border-radius: calc($size / 2);
      padding: 3px;
      box-sizing: border-box;
    }
  }
}

.winBody {
  padding: 10px;
  border-top: 0;
  overflow: hidden;
  position: relative;
  background-color: #fff;
}

.moving {
  user-select: none !important;
}

.active {
  border: 1px solid var(--primary-color);
  .winHeader {
    background-image: linear-gradient(315deg, #ec008c, #fc6767);
  }
}
