.win {
    position: absolute;
    border-radius: 3px;
    min-width: 160px;
    min-height: 70px;

    resize: both;
    overflow: auto;

    border: 1px solid #aaa;
    background-color: #fff;
}

.winHeader {
    background-color: #aaa;
    height: 20px;
    width: 100%;
    padding: 5px 0;
}

.winBody {
    padding: 10px;
    border-top: 0;
    overflow: hidden;
    position: relative;
    background-color: #fff;
}

.moving {
    user-select: none !important;
}

.active {
    border: 1px solid #40a9ff;

    .winHeader {
        background-color: #40a9ff;
    }
}
